/* Grid layout for an input textarea alongside the div of tickboxes */

#inputs {
    display: grid;
    grid-template-columns: 1fr 0.75rem 1fr;
    grid-template-areas: "input-label gap dictionaries-label"
                         "input-textarea gap dictionary-tickboxes"
                         "buttons gap dictionary-tickboxes";
    align-items: start;
    margin: 0;
}

label {
    font-size: 1rem;
}

#inputs label:not([for]) {
    display: inline-block;
    padding-bottom: 0.5rem;
}

#inputs label:first-of-type {
    grid-area: input-label;
}

#inputs label:last-of-type {
    grid-area: dictionaries-label;
}

#textarea-input {
    grid-area: input-textarea;
}

#buttons-under-textarea {
    grid-area: buttons;
}

#dictionary-tickboxes {
    grid-area: dictionary-tickboxes;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* Tickboxes as YES/NO squares */

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] + label {
    margin: -0.25rem 0.5rem 0 0;
    display: inline-block;
    padding: 0.125rem 0.25rem 0.125rem 1.5rem;
    border: 0.5px solid var(--nav-text);
    background: var(--colour2);
    cursor: pointer;
    font-size: 0.875rem;
}

input[type="checkbox"] + label::before {
    position: absolute;
    margin-top: -0.05rem;
    margin-left: -1.5rem;
    width: 1.25rem;
    height: 0.75rem;
    padding: 0.3rem 0 0.2rem;
    border: none;
    border-right: 1px solid var(--nav-text);
    font-size: 0.5rem;
    cursor: pointer;
    text-align: center;
    content: "NO";
}

input[type="checkbox"]:checked + label{
    background: var(--colour6);
}

input[type="checkbox"]:checked + label::before {
    content: "YES";
    background: var(--colour6);
}

input[type="checkbox"]:focus + label {
    outline: 2px dashed var(--visited-text);
}

input[type="checkbox"]:focus + label::before {
    outline: none;
}