/* Grid layout for an input textarea alongside the div of tickboxes */

#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

label {
    font-size: 1rem;
}

#inputs label:first-child {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#buttons-under-textarea {
    margin-top: 0.25rem;
}

#dictionary-tickboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

/* Tickboxes as YES/NO squares */

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] + label {
    display: inline-block;
    padding: 0.125rem 0.25rem 0.125rem 1.5rem;
    border: 0.5px solid var(--nav-text);
    background: var(--colour2);
    cursor: pointer;
    font-size: 0.875rem;
}

input[type="checkbox"] + label::before {
    position: absolute;
    margin-top: -0.05rem;
    margin-left: -1.5rem;
    width: 1.25rem;
    height: 0.75rem;
    padding: 0.3rem 0 0.2rem;
    border: none;
    border-right: 1px solid var(--nav-text);
    font-size: 0.5rem;
    cursor: pointer;
    text-align: center;
    content: "NO";
}

input[type="checkbox"]:checked + label{
    background: var(--colour6);
}

input[type="checkbox"]:checked + label::before {
    content: "YES";
    background: var(--colour6);
}

input[type="checkbox"]:focus + label {
    outline: 2px dashed var(--visited-text);
}

input[type="checkbox"]:focus + label::before {
    outline: none;
}

#link-container {
    text-align: right;
}

@media (max-width: 42rem) {
    #inputs {
        grid-template-columns: 1fr;
    }
}
